{{ partial "header" . }}
{{"<!-- begin layouts > _default > single.html  //-->" | safeHTML}}
<body>
<div class="background"></div>
<article>
	<div class="flexitem logo">
		<a href="/"><img src="{{ .Site.BaseURL }}images/logo2.png" class="logorotated"></a>
	</div>
	<div class="flexitem thumbnail">
		<img src="../../{{ .Params.thumbnail }}" alt="Poster for {{ .Title }} quicksand">
	</div>
	<div class="flexitem content">
		<h1 class="pagetitle">{{ .Title }}</h1>
		{{ .Content }}
	</div>
</article>
{{ partial "footer" . }}
{{"<!-- end layouts > _default > single.html  //-->" | safeHTML}}
</body>
</html>
